.pagination {
	margin: auto;
	position: fixed;
	z-index: 10000;
	left: -20px;
	top: 160px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.left-20 {
	left: 20px;
}
.navigation-button {
	cursor: pointer;
}
.navigation-button:not(:last-of-type) {
	margin-bottom: 15px;
}

.pagination-transition {
	opacity: 1;
	transform: none;
	animation-name: wipe-enter;
	animation-duration: 2s;
	animation-iteration-count: 1;
}

@keyframes wipe-enter {
	0% {
		left: -30px;
	}
	100% {
		left: 20px;
	}
}
