@import "../global.scss";

.hero {
	height: 1000px;
	background-image: url("../../../public/assets/black-bg.jpg");

	font-family: "Ubuntu Mono";
	color: white;
}

.home-container {
	display: flex;
	flex-direction: column;

	height: 100%;
	width: 1100px;

	margin: auto;
	padding-top: 260px;

	@media (max-width: 1150px) {
		width: 900px;
	}
	@media (max-width: 960px) {
		width: 700px;
	}
	@media (max-width: 767px) {
		width: auto;
		margin: 0px 30px;
	}
}

.inside-flex {
	display: flex;
	flex-direction: column;
	@media (prefers-reduced-motion: no-preference) {
		// animation: compress 1s infinite;
	}

	&__small {
		flex-direction: row;
		align-items: baseline;
	}
}

.my-name {
	font-weight: 600;
	font-size: 160px;

	&__small {
		font-size: 60px;
		animation: show-shortform 1s 1;

		@media (max-width: 1150px) {
			font-size: 50px;
		}
		@media (max-width: 960px) {
			font-size: 40px;
		}
		@media (max-width: 767px) {
			font-size: 30px;
		}
		@media (max-width: 571px) {
			font-size: 20px;
		}
	}
}

.my-position {
	font-weight: 400;
	font-size: 30px;
	color: #7c7c7c;
	font-style: italic;

	&__small {
		margin-left: 5px;
		font-size: 30px;
		animation: show-shortform 1s 1;

		@media (max-width: 1150px) {
			font-size: 30px;
		}
		@media (max-width: 960px) {
			font-size: 20px;
		}
		@media (max-width: 767px) {
			font-size: 20px;
		}
	}
}

@media (prefers-reduced-motion: no-preference) {
	.ishita {
		animation: compress-ishita 1s 1;
	}
}

@media (prefers-reduced-motion: no-preference) {
	.jaju {
		animation: compress-jaju 1s 1;
	}
}

@media (prefers-reduced-motion: no-preference) {
	.fsd {
		animation: compress-fsd 1s 1;
	}
}

@keyframes compress-ishita {
	0% {
		transform: none;
		opacity: 1;
	}
	100% {
		transform: translate(-400px, 0px) scale(0.3);
		opacity: 0;
	}
}

@keyframes compress-jaju {
	0% {
		transform: none;
		opacity: 1;
	}
	100% {
		transform: translate(-245px, -160px) scale(0.3);
		opacity: 0;
	}
}

@keyframes compress-fsd {
	0% {
		transform: none;
		opacity: 1;
	}
	100% {
		transform: translate(-145px, -320px) scale(0.7);
		opacity: 0;
	}
}

@keyframes show-shortform {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}