@import "../global.scss";
@import "./animations.scss";

.hero {
	height: 1500px;
	background-image: url("../../../public/assets/black-bg.jpg");

	font-family: "Ubuntu Mono";
	color: white;
}

.home-container {
	display: flex;
	flex-direction: column;

	width: 1100px;
	margin: auto;
	
	position: sticky;
	top: 260px;

	@media (max-width: 1150px) {
		top: 190px;
		width: 800px;
	}
	@media (max-width: 960px) {
		top: 190px;
		width: 650px;
	}
	@media (max-width: 767px) {
		width: auto;
		margin: 0px 46px;
	}
}

.fixed {
	position: fixed;
}

.inside-flex {
	display: flex;
	flex-direction: column;
	@media (prefers-reduced-motion: no-preference) {
		// animation: compress 1s infinite;
	}

	&__small {
		flex-direction: row;
		align-items: baseline;

		@media (max-width: 1150px) {
			flex-direction: row;
		}
		@media (max-width: 960px) {
			flex-direction: row;
		}
		@media (max-width: 767px) {
			flex-direction: column;
		}
	}
}

.my-name {
	font-weight: 600;
	font-size: 160px;
	animation: show 0.5s 1;
	color: white;

	@media (max-width: 1150px) {
		font-size: 150px;
	}
	@media (max-width: 960px) {
		font-size: 140px;
	}
	@media (max-width: 767px) {
		font-size: 130px;
	}
	@media (max-width: 571px) {
		font-size: 100px;
	}
	@media (max-width: 390px) {
		font-size: 75px;
	}

	&__small {
		font-size: 60px;

		@media (max-width: 1150px) {
			font-size: 50px;
		}
		@media (max-width: 960px) {
			font-size: 40px;
		}
		@media (max-width: 767px) {
			font-size: 65px;
		}
		@media (max-width: 571px) {
			font-size: 36px;
		}
	}
}

.my-position {
	font-weight: 400;
	font-size: 30px;
	color: #7c7c7c;
	font-style: italic;
	animation: show 0.5s 1;

	&__small {
		margin-left: 5px;
		font-size: 30px;

		@media (max-width: 1150px) {
			font-size: 30px;
		}
		@media (max-width: 960px) {
			font-size: 20px;
		}
		@media (max-width: 767px) {
			font-size: 20px;
		}
	}
}

@media (prefers-reduced-motion: no-preference) {
	.ishita {
		animation: compress-ishita-main 0.5s infinite;

		@media (max-width: 1150px) {
			animation: compress-ishita-1150 0.5s infinite;
		}
		@media (max-width: 960px) {
			animation: compress-ishita-960 0.5s infinite;
		}
		@media (max-width: 767px) {
			animation: compress-ishita-767 0.5s infinite;
		}
		@media (max-width: 571px) {
			animation: compress-ishita-571 0.5s infinite;
		}
	}
	.jaju {
		animation: compress-jaju-main 0.5s infinite;

		@media (max-width: 1150px) {
			animation: compress-jaju-1150 0.5s infinite;
		}
		@media (max-width: 960px) {
			animation: compress-jaju-960 0.5s infinite;
		}
		@media (max-width: 767px) {
			animation: compress-jaju-767 0.5s infinite;
		}
		@media (max-width: 571px) {
			animation: compress-jaju-571 0.5s infinite;
		}
	}
	.fsd {
		animation: compress-fsd-main 0.5s infinite;

		@media (max-width: 1150px) {
			animation: compress-fsd-1150 0.5s infinite;
		}
		@media (max-width: 960px) {
			animation: compress-fsd-960 0.5s infinite;
		}
		@media (max-width: 767px) {
			animation: compress-fsd-767 0.5s infinite;
		}
		@media (max-width: 571px) {
			animation: compress-fsd-571 0.5s infinite;
		}
	}
	.hide-small {
		animation: hide 0.5s 1;
	}
}

.about-me {
	font-size: 30px;
	margin-top: 20px;
	text-align: justify;
	animation: paragraph-enter 1.5s 1;
	animation-timing-function: ease-in-out;

	@media (max-width: 960px) {
		font-size: 20px;
	}
}
