.circle {
	border-radius: 50%;
	width: 17px;
	height: 17px;
	background-color: rgba($color: #ffffff, $alpha: 0.3);
	outline: 3px solid rgba($color: #ffffff, $alpha: 0);
	transition: outline-color 0.2s linear;
}

.circle:hover {
	outline-color: rgba($color: #ffffff, $alpha: 1);
}


.circle-fill {
	outline-color: rgba($color: #ffffff, $alpha: 1);
}
