.circle {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: rgba($color: #ffffff, $alpha: 0.3);
  outline: 3px solid rgba($color: #ffffff, $alpha: 0);
  transition: outline-color, transform 0.2s linear;
}

@media (hover: hover) {
  .circle:hover {
    outline-color: rgba($color: #ffffff, $alpha: 1);
		transform: scale(1.05);
  }
}

.circle-fill {
	transition: outline-color, transform 0.2s linear;
  outline-color: rgba($color: #ffffff, $alpha: 1);
}
